SpeedRunWcf.Client/Connected Services/SpeedRunWebservice/SpeedRunWebservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51558/SpeedRunWebservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.Models" />
  <xs:complexType name="SpeedRunServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SpeedRunServiceRequest" nillable="true" type="tns:SpeedRunServiceRequest" />
  <xs:complexType name="SpeedRunServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.Models" minOccurs="0" name="SpeedRuns" nillable="true" type="q1:ArrayOfSpeedRun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpeedRunServiceResponse" nillable="true" type="tns:SpeedRunServiceResponse" />
</xs:schema>