SpeedRunWcf.Client/Connected Services/SpeedRunWebservice/SpeedRunWebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51558/SpeedRunWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.DataTransfer" />
  <xs:element name="GetSpeedRuns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.DataTransfer" minOccurs="0" name="req" nillable="true" type="q1:SpeedRunServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedRunsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.DataTransfer" minOccurs="0" name="GetSpeedRunsResult" nillable="true" type="q2:SpeedRunServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>