SpeedRunWcf.Client/Connected Services/SpeedRunWebservice/SpeedRunWebservice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeedRunWcf.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51558/SpeedRunWebservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSpeedRun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpeedRun" nillable="true" type="tns:SpeedRun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpeedRun" nillable="true" type="tns:ArrayOfSpeedRun" />
  <xs:complexType name="SpeedRun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpeedRun" nillable="true" type="tns:SpeedRun" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamerTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>